# ------------------------
# OS / 시스템 파일
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Node 및 JavaScript
# ------------------------
node_modules/
.npm/
.yarn/
.pnpm-store/

# ------------------------
# 환경 변수 / 보안 파일
# ------------------------
.env
.env.*.local

# ------------------------
# 빌드 / 배포 산출물
# ------------------------
dist/
build/
out/
.next/
coverage/

# ------------------------
# 로그 / 캐시 파일
# ------------------------
*.log
.cache/
tmp/

# ------------------------
# IDE / 에디터 설정
# ------------------------
.idea/
.vscode/
*.iml
*.iws
*.ipr

# ------------------------
# 기타
# ------------------------
*.swp
